/*Reset*/

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*Common*/

body {
    font-family: 'Lato', sans-serif;     
}

.container {
    max-width: 1000px;
    position: relative;

}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.buttons {
    padding: 9px 12px;
    background-color: white;
    border-radius: 30px;
    border: 0ch;
}

.background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    max-width: 650px;
}

/*Header*/ 

header {
    background-color: #3161e0;
    position: fixed;
    top:0;
    z-index: 1;
    width: 100%;
    padding: 15px;
}

.logo, .navigator, .login {
    float: left;
}

.logo {
    width: 20%;
}

.img-logo {
    height: 30px;
}

.navigator {
    width: calc(60% - 80px);
    margin: 0 40px;
    text-align: center;
}

.login {
    width: 20%;
    text-align: right;
}


nav li {
    display: inline-block; 
    vertical-align: middle;
}

li a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 20px 0;
}

li a:hover{
    color: red;
}


/*Hero*/

.hero {
    background-image:url(../img/jumbo.png);
    height: 500px;
    background-size: cover;
    position: relative;
    text-align: center;
    
}



h1 {
    font-size: 48px;
    margin-bottom: 30px;
    font-weight: 900;
}

.text-hero{
    color: white;
    text-align: center;
}

.text-hero p{
    font-size: 18px;
    
}
.hero-button {
    margin-top: 30px;
}

.fa-long-arrow-alt-down{
    margin-right: 4px;
}

#browser-discord{
    color: white;
    background-color: #23272a;
    margin-left: 15px;
}

/*Sezione 2*/

.sfondo1 {
    background-color: #ffffff;
    padding-top: 100px;
}

.col-left, .col-right {
    float: left;
}

.col-left {
    width: calc(70% - 80px);
    padding-right: 80px;
    position: absolute;
    left: 0;
}

.col-right{
    width: 30%;
    position: absolute;
    right: 0;
  
}
.photo-item {
    width: 100%;
}

.text-section{
    color:#23272a;
}

h2 {
    font-size: 37px;
    margin-bottom: 20px;
    margin-top: 10px;
}

