/*Reset*/

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
/*Common*/


.container {
    max-width: 1000px;

}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.buttons {
    padding: 10px 12px;
    background-color: white;
    border-radius: 30px;
    border: 0ch;

}
/*Header*/ 

header {
    background-color: #3161e0;
    padding: 15px;
}

.logo, .navigator, .login {
    float: left;
}

.logo {
    width: 20%;
}

.navigator {
    width: calc(60% - 80px);
    margin: 0 40px;
    text-align: center;
}

.login {
    width: 20%;
    text-align: right;
}


nav li {
    display: inline-block; 
    vertical-align: middle;
}

li a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

/*Hero*/

.hero {
    background-image:url(../img/jumbo.png);
    height: 500px;
    background-size: cover;
    position: relative;
  
    
}

.hero-background {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    text-align: center;
}

h1 {
    font-size: 45px;
    margin-bottom: 30px;
}

.hero-button {
    margin-top: 30px;
}

.fa-long-arrow-alt-down{
    margin-right: 4px;
}

#browser-discord{
    color: white;
    background-color: #23272a;
    margin-left: 15px;
}